New API feature: add a tag to a tag field

Allow apps to send a request that says "add this tag value to this list of tags if it's not there yet". e.g. for brands, categories etc.

Possible implementation: prefix the value with a +
e.g. brands=+value1,value2

value1 and value2 would be taxonomized, and if the corresponding tags are not yet in brands_tags, they would be added at the end of the brands field




I think it's not unreasonable for brands to start with `+` or `-`. Semantically, the remove/add command could be made part of the parameter name instead of the value, for example `brands+=value1&brands-=value2` (`brands%2B=value1&brands-=value2`).

I don't know how interesting removal of tags is, but it could be interesting to implement this, too. For example an existing `categories=2% milks` could be removed by calling `categories-=2% milk` or even `categories-=Semi-skimmed milks`.

I like the brands+=value, but + are converted to spaces in the CGI specs, so some clients maye send "brands " as the parameter name and others not. On the server side, I get "brands " in CGI.pm (not sure if it's my client that changed it, or CGI.pm that parses it that way).

To be safe, I think we can just make it add_brands=value1,value2 , and similarly we could make remove_brands=value3,value4.  At least it's very clear what it does.

On .net and production

Should `+` actually be converted to a space if encoded correctly? Obviously, `%2B` would need to be used when constructing the query string (as per [RFC 3986 Section 2.2](https://tools.ietf.org/html/rfc3986#section-2.2); [SO](https://stackoverflow.com/a/2678602/11963)), but other than that, I don't think that `+` as an encoded content value should ever be converted to spaces?